div,
span {
  width: 100px;
  height: 100px;
  background-color: #ccff00;
  margin: -10px 0 20px -10px;
  text-align: center;
  border-style: solid;
}

.none {
  /* o elemento nao é renderizado */
  display: none;
}

.block {
  /* faz o elemento funcionar como um bloco */
  display: block;
}

.inline {
  /* faz o elemento funcionar como span */
  display: inline;
}
