@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto";
}

header {
  font-size: 55px;
  text-align: center;
}
body {
  color: white;
  font-size: 18px;
  background-color: #404040;
}

a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

img {
  width: 150px;
  height: 150px;
  border: solid;
  color: #353535;
}

.techs {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  margin: 15px;
  display: flex;
}

.itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  margin: 15px;
}

a[tipo="projeto"] {
  background-color: #ccff00;
  color: black;
}
/* 
a:nth-last-child(-n + 4) {
  background-color: #ccff00ab;
  color: black;
} */
