* {
  font-family: Arial;
}

body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
navli {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  color: #727272;
  text-transform: uppercase;
  text-decoration: none;
}

nav .active a,
nav a:hover {
  background-color: #39aae1;
  color: #ffffff;
}

#banner {
  display: flex;
  justify-content: center;
  height: 670px;
  background-image: url(assets/banner.png);
  background-position: center;
  background-size: cover;
}

.banner-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.banner-head h1 {
  color: #ffffff;
  font-size: 70px;
  text-shadow: 0 2px 0 #000000;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.banner-head h2 {
  color: #ffffff;
  font-size: 24px;
  text-shadow: 0 1px 0 #000000;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}

.banner-options {
  display: flex;
  height: 210px;
}

.banner-options a {
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ffffff;
  padding: 5px;
  text-decoration: none;
}

.banner-title {
  font-size: 24px;
}

.banner-desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-desc-day {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #39aae1;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #ffffff;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}

.banner2 {
  background-color: #0079c7;
}

.banner3 {
  background-color: #2b4c99;
}

.column {
  flex-direction: column;
}

#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widge-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widge-text {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.widge-bar {
  width: 50px;
  height: 3px;
  background-color: #39aae1;
  margin-top: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

article a {
  text-decoration: none;
}

article .data {
  display: flex;
}

article .posted-at {
  background-color: #2b4c99;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
}

article .comments {
  background-color: #39aae1;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  margin-left: 3px;
}

article .thumbnail {
  margin-top: 30px;
}

article .thumbnail img {
  width: 100%;
  height: auto;
}

article .news-title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-size: 25px;
}

article .resume {
  color: #5c5c5c;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}

.footer-menu {
  display: flex;
}

.fm-1,
.fm-2,
.fm-3 {
  flex: 1;
  color: #ffffff;
  padding: 20px;
}

.fm-1-text,
.fm-2-text,
.fm-3-text {
  font-size: 12px;
  color: #ffffff;
}

.fm-1 {
  background-color: #39aae1;
}

.fm-2 {
  background-color: #0079c7;
}

.fm-3 {
  background-color: #2b4c99;
}

.footer-area {
  display: flex;
  color: #ffffff;
}

.area-item {
  flex: 1;
  color: #ffffff;
}

.gray {
  color: #999999;
  font-size: 12px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.posts {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 12px;
}

.post-data {
  font-size: 12px;
  margin-left: 20px;
  color: #0081d6;
}

.tweet {
  color: #999999;
  font-size: 12px;
}

.tweet-data {
  margin-bottom: 20px;
  font-size: 12px;
  color: #0081d6;
}

.flexColumn {
  flex-direction: column;
}

.copy {
  color: #999999;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #2c2c2c;
  margin-top: 30px;
}
