div {
  width: 100px;
  height: 100px;
  background-color: #ccff00;
  margin: -10px 0 20px -10px;
  text-align: center;
  border-style: solid;
}

/* quando position não é definido, static é definido por padrão */

.absolute {
  /* absolute: o elemento "flutua" ficando acima da pagina com uma posição relativa ao item anterior */
  position: absolute;
  left: 150px;
}

.fixed {
  /* é como o absolute porem ele fica fixo na tela independente da posição da barra de rolagem */
  position: fixed;
  left: 500px;
}

.relative {
  /* parecido com o static porem serve para mudar a profundidade dos elementos */
  position: relative;
}
