.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  color: white;
  background-color: rgb(20, 30, 30);
  font-size: 25px;
  border-radius: 10px;
  padding: 20px;
}
