/* sem flex */

.padrao {
  background-color: black;
}

.padrao div {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

/* com flex */

.row {
  /* por padrão o flexbox vai ser organizado horizontalmente da esquerda para a direita */
  display: flex;
  flex-direction: row;
  background-color: black;
}

.row div {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

.row-reverse {
  /* os elementos são exibidos em linha da direita para a esquerda */
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
}

.row-reverse div {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

.column {
  /* os elementos são exibidos em colunas */
  display: flex;
  flex-direction: column;
  background-color: black;
}

.column div {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

.column-reverse {
  /* os elementos são exibidos em colunas de baixo para cima */
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
}

.column-reverse div {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

/* exemplos flex */

.exemplo {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.div1 {
  flex: 1;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}
.div2 {
  flex: 3;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}
.div3 {
  flex: 5;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

/* Alinhamento */

.wrap {
  display: flex;
  /* Wrap permite que os elementos com flex pulem para a linha de baixo se necessario*/
  flex-wrap: wrap;
  background-color: black;
}

.wrap div {
  /* Mesmo com uma largura grande, por padrão o flexbox reduz seu tamanho para que os elementos não vão para a linha de baixo */
  width: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 18;
  background-color: #ccff00;
}

.justify-content-center {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Alinha os itens horizontalmente */
  background-color: black;
}

.justify-content-center div {
  width: 100px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

.align-items-center {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinha os itens verticalmente */
  background-color: black;
}

.align-items-center div {
  width: 100px;
  height: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

.justify-align-center {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.justify-align-center div {
  width: 100px;
  height: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}

.justify-content-between {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.justify-content-between div {
  width: 100px;
  height: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ccff00;
}
