h1 {
  margin: 0 0 20px 0;
}

.sem {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background-color: #ccff00;
  border: 10px solid rgb(0, 0, 0);
}

.com {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background-color: #ccff00;
  border: 20px solid rgb(0, 0, 0);
}
